{% extends 'base.html.twig' %}

{% block title %}Modifier Formation{% endblock %}

{% block body %}
    <h1>Modifier Formation</h1>

    {{ include('formation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('formation_index') }}"> Retour vers la liste </a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
