{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ formation.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ formation.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_index') }}">Retour vers la liste</a> /

    <a href="{{ path('formation_edit', {'id': formation.id}) }}">Modifier</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
