{% extends 'base.html.twig' %}

{% block title %}
{% if action == "ajouter" %}
Ajout d'un stage
{% else %}
Modification d'un stage
{% endif %}
{% endblock %}

{% block body %}
<h2>Formulaire de création d'un stage</h2><br>
{{form(vueFormulaire)}}
{% endblock %}
