{% extends 'base.html.twig' %}

{% block title %}
{% if action == "ajouter" %}
Ajout d'une entreprise
{% else %}
Modification d'une entreprise
{% endif %}
{% endblock %}

{% block body %}
<h2>Formulaire d'une entreprise</h2><br>
{{form(vueFormulaire)}}
{% endblock %}
