{%extends 'base.html.twig'%}

{%block body%}

<div class="container-fluid">
<p><h1>{{message}}</h1></p><a href="{{path('ajoutEntreprise')}}" class="btn btn-primary">Ajouter une entreprise</a>

  <div class="row">
  {%for entreprise in listeEntreprises%}
    <div class="col-md-3">
      <div class="card">
        <img src="http://lorempixel.com/200/200/" class="card-img-top" alt="Image">
        <div class="card-body">
          <h5 class="card-title">{{entreprise.nom}}</h5>
          <p class="card-text">{{entreprise.adresse}}<br>{{entreprise.activite}}<br>{{entreprise.numTel}}</p>
          <a href="{{path('modifEntreprise', {'id': entreprise.id})}}" class="btn btn-primary">Modifier l'entreprise</a>
        </div>
      </div>
    </div>
{%endfor%}
   
  </div>
</div>
{%endblock%}
