{%extends 'base.html.twig'%}

{%block body%}
<div class="container-fluid">
<p><h1>{{message}}</h1></p><a href="{{path('ajoutFormation')}}" class="btn btn-primary">Ajouter une formation</a><br>
  <div class="row">
  {%for formation in listeFormations%}
    <div class="col-md-3">
      <div class="card">
        <img src="http://lorempixel.com/200/200/" class="card-img-top" alt="Image">
        <div class="card-body">
          <h5 class="card-title">{{formation.type}}</h5>
          <p class="card-text">{{formation.description}}</p>
          <a href="{{path('modifFormation', {'id': formation.id})}}" class="btn btn-primary">Modifier la formation</a>
        </div>
      </div>
    </div>
{%endfor%}
   
  </div>
</div>
{%endblock%}
