{% extends 'base.html.twig' %}

{% block title %}Sid proStage{% endblock %}

{% block body %}

<div class="container-fluid">
<p><h1>{{message}}</h1></p><br>
<a href="{{path('ajoutStage')}}" class="btn btn-primary">Ajouter un stage</a><br>
  <div class="row">
  {%for stage in lesStages%}
    <div class="col-md-3">
      <div class="card">
        <img src="http://lorempixel.com/200/200/" class="card-img-top" alt="Image">
        <div class="card-body">
          <h5 class="card-title">{{stage.titre}} : {{stage.entreprise.nom}}</h5>
          <p class="card-text">{{stage.description}}</p>
          <a href="{{path('stage', {'id': stage.id})}}" class="btn btn-primary">En savoir plus ...</a>
        </div>
      </div>
    </div>
{%endfor%}
   
  </div>
</div>
{% endblock %}
