{%extends 'base.html.twig'%}

{%block body%}
<div class="contrainer">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width:18rem;">
      <img src="http://lorempixel.com/400/400/" class="card-img-top" alt="alternative">
        <div class="card-body">
          <h5 class="card-title">{{stage.titre}}</h5>
          <p>{{message}}</p>
          <p class="card-text">{{stage.description}}</p>
        </div>
      </div>
    </div>
      <div class="col-md-4">
        <a href="{{path('modifStage', {'id': stage.id})}}" class="btn btn-primary">Modifier le stage</a>
      </div>
  </div>
</div>
{%endblock%}
