<!DOCTYPE html>
<html>
<meta charset="UTF-8">
  <title>{% block title %}Bienvenu sur ProStage!{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% endblock %}
<body>
<img src="/imageTechnologie.jpg" alt="Cette image aurait du s'afficher" class="img-fluid">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
			<br/><br/>
				<h1 class="text-center">
					ProStage
				</h1>
			<br/><br/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="navbar-nav">
							<li class="nav-item active">
                 <a class="nav-link" href="{{path('accueil')}}"> Accueil <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="{{path('entreprises')}}">Entreprises</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="{{path('formation_index')}}" tabindex="-1" >Formations</a>
             </li>
	           <li class="nav-item">
               <a class="nav-link" href="{{path('ajoutEntreprise')}}" tabindex="-1" >Ajouter une entreprise</a>
             </li>
			       <li class="nav-item">
               <a class="nav-link" href="{{path('ajoutStage')}}" tabindex="-1" >Ajouter un stage</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="{{path('formation_new')}}" tabindex="-1" >Ajouter une formation</a>
             </li>             
             </ul>
					</div>
          <ul class="navbar-nav">
          {% if app.user %}
              <li class="nav-item">
                <span class="nav-link" style="color : green">Connecté(e) en tant que {{app.user}}</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('app_logout')}}" tabindex="-1" >Se deconnecter</a>
              </li>
          {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{path('app_register')}}" tabindex="-1" >S'inscrire</a>
              </li>
              <li class="nav-item">
              <i class="icon-user-5"></i>
                <a class="nav-link" href="{{path('app_login')}}" tabindex="-1" >Se connecter</a>
              </li>
              {% endif %}
              </ul>
				</nav>
			</div>
		</div>
	</div><br/><br/>
<div class="col-md-12">
	
  {% block body %}{% endblock %}
  {% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {% endblock %}

<br><p>Site réalisé avec les frameworks Symfony et Bootstrap.</p>
</body>
</html>